<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <%  include partials/head %>

    <title>List of pokemons</title>
  </head>
  <body>
    

    <h1 class="text-center">List of all 1st gen pokemons</h1>
    
    <ul class="list-group">
        <% for(var i= 0; i < pokemonList.results.length; i++) {  %>

          <a class="list-group-item list-group-item-action" href="<%= pokemonList.results[i].name; %>"><%= pokemonList.results[i].name; %></a>

        <% } %>
    </ul>

   <%  include partials/footer %>

  </body>
</html>
